{% extends "admin/index.html" %}

{% block extrastyle %}{{ block.super }}
<style>

    #content-related {
    float: right;
    text-align: center;
    width: 300px;
    position: relative;
    margin-right: -400px;
    background: transparent;
    }

    a.setup {
        padding: 10px;
        margin-left: 0px;
        font-size: 16px;
        border: solid;
        background-color: white;
    }
    .setup a:hover, .setup a:focus{
        background-color: black;
    }

</style>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module">
        <h2>Quick Help FAQs</h2>
        <a href="https://dingdongdash.net/pages/ding-dong-ditch-button-setup" class="setup">New Button Setup Instructions</a>
    </div>
</div>
{% endblock %}